---
import Layout from "src/layouts/Layout.astro";
import ProfileSideBar from "src/components/ProfileSideBar.astro";
import Loader from "src/components/Loader.astro";
import BlogPostCard from "src/components/BlogPostCard.astro";
import Footer from "src/components/Footer.astro";
import dayjs from "dayjs";
import ScrollToTop from "src/components/ScrollToTop.astro";
import {getCollection} from "astro:content";

export async function getStaticPaths() {
  const postsMeta = await getCollection(
      'blog',
      ({ data }) => {
        if(import.meta.env.MODE === "production"){
            return data.draft !== true
        }
        return true
      }
  );
  const allTags: string[] = [
    ...new Set(
      postsMeta
          .sort((a, b) => dayjs(b.data.date).unix() - dayjs(a.data.date).unix())
          .map(({ data: {tags} }) =>
            tags.map((tag: string) => tag.toLowerCase())
          )
          .flat()
    ),
  ];
  return allTags.map((t) => ({ params: { tag: t } }));
}

const { tag } = Astro.params;
const postsMeta = await getCollection(
      'blog',
      ({ data }) => {
        if(import.meta.env.MODE === "production"){
            return data.draft !== true
        }
        return true
      }
  );
const posts = postsMeta
  .filter(({data: {tags}}) =>
    tags.some((t: string) => t.toLowerCase() === tag)
  )
  .map(({ slug, data }) => ({
    data,
    slug,
  }));
---

<Layout
  title={"Blog - Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer."}
>
  <Loader />
  <ProfileSideBar />
  <main id="display">
    <div id="blog_section">
      <div
        style="display:flex !important; flex-direction: row; align-items: center;"
      >
        <a
          title="Go back to the home page"
          href="/"
          style="color: var(--text-color); font-size: 26px; margin-right: 2vw;"
          ><i class="fas fa-arrow-left"></i>
        </a>
        <h1>Post tagged {tag}.</h1>
      </div>
      <div id="blogs">
        {posts.map((p) => <BlogPostCard data={p.data} slug={p.slug} />)}
      </div>
    </div>
    <Footer />
  </main>
  <ScrollToTop />
  <script is:inline>
    const magicPostGrid = new Macy({
      container: "#blogs",
      margin: 30,
      columns: 2,
      breakAt: {
				800: {
					columns: 1
				}
			}
    });
  </script>
</Layout>
