---
import Footer from "src/components/Footer.astro";
import Loader from "src/components/Loader.astro";
import ProfileSideBar from "src/components/ProfileSideBar.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout
  title="Contact - Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer."
>
  <Loader />
  <ProfileSideBar />
  <main id="display">
    <div id="contact">
      <div
        style="display:flex !important; flex-direction: row; align-items: center;"
      >
        <a
          title="Go back to the home page"
          href="/"
          style="color: var(--text-color); font-size: 26px; margin-right: 2vw;"
          ><i class="fas fa-arrow-left"></i>
        </a>
        <h1>Contact.</h1>
      </div>
      <form
        action="https://formsubmit.co/3ac873b337def7d5a05990de5249f24d"
        method="post"
      >
        <h3>
          Fill out this form and i will get back to you as soon as possible
        </h3>
        <div class="line">
          <input
            class="field"
            type="text"
            name="name"
            placeholder="How should I call you?"
            aria-required="true"
            required
          />
          <input
            class="field"
            type="email"
            name="email"
            placeholder="What's your best email address?"
            aria-required="true"
            required
          />
        </div>
        <div class="line">
          <input
            class="field"
            type="text"
            name="_subject"
            placeholder="What would you like to talk about?"
            aria-required="true"
            required
          />
        </div>
        <div class="line">
          <textarea
            style="min-height: 20vh;"
            class="field"
            name="message"
            placeholder="Frestyle ⚡"
            required></textarea>
        </div>
        <input type="text" name="_honey" style="display:none" />
        <input type="hidden" name="_template" value="table" />
        <input type="hidden" name="_captcha" value="false" />
        <input
          type="hidden"
          name="_next"
          value="https://itishermann.me/contact/thanks"
        />
        <div style="display: flex; flex-direction: row;">
          <input class="field" type="submit" value="Send" />
        </div>
      </form>
      <p style="text-align: right; color: var(--blog-gray-color)">
        <small>Powered by FormSubmit.co</small>
      </p>
    </div>
    <Footer />
  </main>
  <style>
    form .line {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    form .field {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 16px;
      background: rgb(20, 20, 20);
      color: var(--text-color);
      margin: 10px;
    }
    @media (max-width: 800px) {
      form .line {
        display: flex;
        flex-direction: column;
        margin-inline: 2vw;
      }
    }
  </style>
</Layout>
