---
import Loader from "src/components/Loader.astro";
import ProfileSideBar from "src/components/ProfileSideBar.astro";
import Layout from "src/layouts/Layout.astro";
import MessageSentIcon from "src/components/MessageSentIcon.astro";
import Footer from "src/components/Footer.astro";
---

<Layout
  title="Contact - Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer."
>
  <Loader />
  <ProfileSideBar />
  <main id="display">
    <div id="contact">
      <div
        style="display:flex !important; flex-direction: row; align-items: center;"
      >
        <a
          title="Go back to the home page"
          href="/"
          style="color: var(--text-color); font-size: 26px; margin-right: 2vw;"
          ><i class="fas fa-arrow-left"></i>
        </a>
        <h1>Message sent.</h1>
      </div>
      <div class="thanks">
        <div class="thanks-icon">
          <MessageSentIcon />
        </div>
        <h2>
          Thank you for your message. I will get back to you as soon as
          possible.
        </h2>
        <p style="text-align: right; color: var(--blog-gray-color)">
          <small>Powered by FormSubmit.co</small>
        </p>
      </div>
    </div>
    <Footer />
  </main>
  <style>
    .thanks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2vw;
    }
    .thanks-icon {
      width: 100px;
      height: 100px;
      margin-bottom: 2vw;
    }
  </style>
</Layout>
