---
import Layout from "src/layouts/Layout.astro";
import ProfileSideBar from "src/components/ProfileSideBar.astro";
import Loader from "src/components/Loader.astro";
import Footer from "src/components/Footer.astro";
---

<Layout
  title="Page not found - Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer."
>
  <ProfileSideBar />
  <main id="display">
    <div id="now">
      <div
        style="display:flex !important; flex-direction: row; align-items: center;"
      >
        <a
          title="Go back to the home page"
          href="/"
          style="color: var(--text-color); font-size: 26px; margin-right: 2vw;"
          ><i class="fas fa-arrow-left"></i>
        </a>
        <h1>Page not found.</h1>
      </div>
      <div id="not-found">
        <h1>404</h1>
        <p>The page your were looking for does not exist.</p>

        <a href="/" class="btn">Go back to the home page</a>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
