---
import Layout from "src/layouts/Layout.astro";
import ProfileSideBar from "src/components/ProfileSideBar.astro";
import Loader from "src/components/Loader.astro";
import Footer from "src/components/Footer.astro";
---

<Layout
  title="Now - Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer."
>
  <ProfileSideBar />
  <main id="display">
    <div id="now">
      <div
        style="display:flex !important; flex-direction: row; align-items: center;"
      >
        <a
          title="Go back to the home page"
          href="/"
          style="color: var(--text-color); font-size: 26px; margin-right: 2vw;"
          ><i class="fas fa-arrow-left"></i>
        </a>
        <h1>Now.</h1>
      </div>
      <div id="now-content"></div>
      <p>
        Inspired by <a
          href="https://sive.rs/nowff"
          target="_blank"
          style="color: inherit;"
          >Derek Sivers's now page
        </a>
      </p>
    </div>
    <h3>Since you're here, check these out, you may like them</h3>
    <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameBorder="0" height="175"
        style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/fr/album/venus/1359228457?i=1359230500"></iframe>
    <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/fr/album/corps-%C3%A0-corps/1691334320"></iframe>
    <Footer />
  </main>
  <script
    src="https://thenowpage.s3.amazonaws.com/embed.js?5f78b604023b2d094149edff"
    async
  ></script>
</Layout>
