---
import Layout from "src/layouts/Layout.astro";
import ProfileSideBar from "src/components/ProfileSideBar.astro";
import Loader from "src/components/Loader.astro";
import Footer from "src/components/Footer.astro";
// TODO: Add ToS and Privacy Policy
---

<Layout
  title="Privacy policy - Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer."
>
  <ProfileSideBar />
  <main id="display">
    <div>
      <div
        style="display:flex !important; flex-direction: row; align-items: center;"
      >
        <a
          title="Go back to the home page"
          href="/"
          style="color: var(--text-color); font-size: 26px; margin-right: 2vw;"
          ><i class="fas fa-arrow-left"></i>
        </a>
        <h1>Privacy policy.</h1>
      </div>
      <div id="content">
        <p>Building</p>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
