---
import { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import LocalizedFormat from "dayjs/plugin/localizedFormat";
import { defaultBlogCover } from "../constants";
dayjs.extend(LocalizedFormat)
interface Props {
  data: CollectionEntry<'blog'>['data'];
  slug: string;
}

const { data, slug } = Astro.props;
const {
  title,
  date,
  subtitle,
  tags,
  cover = defaultBlogCover
} = data;
---

<a href={`/blog/${slug}`}>
  <section>
    <img src={cover} />
    <div class="blog_container">
      <p>{dayjs(date).format("LLL")}</p>
      <div class="section_title">
        {title}
      </div>
      <div class="about_section">
        {subtitle}
      </div>
    </div>
  </section>
</a>
