---
const { color = "white" } = Astro.props;
---

<svg
  fill={color}
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 1000 1000"
  enable-background="new 0 0 1000 1000"
  xml:space="preserve"
>
  <g>
    <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
      <path
        d="M973.3,4318.5c-185.8-49.8-360.1-149.4-515.2-296.9c-141.7-134.1-231.7-270-308.4-465.4L100,3428V679.6v-2748.4l49.8-128.3c76.6-197.3,166.6-331.3,314.1-471.1c159-151.3,316-239.4,519-291.1c141.7-36.4,218.3-38.3,2087.6-38.3h1938.2l53.6-90c86.2-149.4,203-293,373.5-455.8c275.8-264.3,593.7-444.3,951.9-542c164.7-44,222.2-49.8,511.4-49.8c249-1.9,358.2,5.8,465.4,32.6c547.8,132.2,1032.3,469.2,1336.8,927c61.3,91.9,113,170.4,114.9,172.4c0,3.8,69,23,149.4,44c446.2,113,794.8,450.1,902.1,871.4c44.1,170.5,42.1,5356.9,0,5542.7c-47.9,201.1-151.3,375.4-323.7,547.8c-178.1,176.2-323.7,260.5-540.1,316c-145.6,38.3-224.1,38.3-4018.2,36.4C1222.3,4354.9,1111.2,4353,973.3,4318.5z M8879.4,3933.6c67-9.6,168.5-40.2,224.1-67c130.2-61.3,279.6-224.1,337.1-367.7l44-109.2l5.7-2633.4c3.8-1917.1,0-2664.1-15.3-2748.4c-42.1-218.3-178.1-404.1-367.7-499.9c-49.8-24.9-93.8-46-97.7-46c-5.7,0,5.7,53.6,23,120.7c47.9,189.6,40.2,724-13.4,919.3c-139.8,509.5-430.9,942.3-837,1244.9C8004.2-119.1,7669,45.7,7464.1,103.1C6334.1,417.2,5129.4-301,4809.6-1475c-46-170.4-51.7-226-53.6-498c0-226,7.7-340.9,32.6-436.7c17.2-72.8,32.6-143.6,32.6-159c0-23-247.1-26.8-1794.6-26.8c-1162.5,0-1840.5,7.7-1921,21.1c-218.3,34.5-404.1,157.1-509.5,335.2C492.6-2063,492.6-2109,492.6,660.5c0,1700.7,7.7,2599,21.1,2681.3c26.8,166.6,74.7,268.1,178.1,379.2c99.6,107.3,252.8,187.7,398.4,212.6C1239.6,3958.5,8726.2,3958.5,8879.4,3933.6z M7278.3-270.3c1120.4-214.5,1712.2-1446,1206.6-2510.9c-266.2-565-825.4-923.1-1490-957.6c-490.3-24.9-950,139.8-1287,461.6c-185.8,174.3-294.9,327.5-398.4,561.2c-109.2,243.2-147.5,434.8-149.4,724c-1.9,379.2,91.9,702.9,294.9,1005.5C5843.8-404.4,6542.9-130.5,7278.3-270.3z"
      ></path>
      <path
        d="M1187.8,3370.5c-99.6-42.1-145.5-164.7-99.6-264.3c11.5-26.8,762.3-714.4,1666.2-1528.4C4545.3-34.8,4528-21.4,4800-67.3c243.2-40.2,528.6,28.7,693.3,168.5c308.4,262.4,3307.6,2972.5,3317.2,2999.3c28.7,70.9,13.4,162.8-34.5,218.3c-59.4,70.9-137.9,91.9-216.4,57.5c-32.6-13.4-794.8-687.6-1696.9-1499.6c-902.1-810.1-1670.1-1492-1710.3-1516.9c-166.6-99.6-348.6-68.9-532.4,93.9c-63.2,55.5-808.2,725.9-1656.7,1488.1c-848.4,762.3-1566.7,1401.9-1599.2,1423C1297,3405,1270.2,3406.9,1187.8,3370.5z"
      ></path>
      <path
        d="M3355.9,158.7c-21.1-11.5-534.3-434.7-1143.4-938.5c-737.4-614.8-1110.8-936.5-1126.2-974.8c-65.1-155.1,95.8-329.4,250.9-268.1c42.1,17.2,2091.4,1710.3,2231.2,1844.4c34.5,30.6,67,82.4,72.8,114.9C3671.9,93.6,3491.9,235.3,3355.9,158.7z"
      ></path>
      <path
        d="M7805-1442.5c-17.2-7.7-293-237.5-609-511.4c-317.9-273.9-586.1-501.8-595.6-503.7c-9.6-3.8-91.9,61.3-185.8,145.6c-178.1,162.8-227.9,195.4-291.1,195.4c-118.8,0-226-134.1-201.1-250.9c15.3-70.9,522.9-543.9,614.8-572.7c46-15.3,76.6-15.3,118.7,3.8c32.6,13.4,360.1,285.4,729.7,605.2c718.2,622.4,722,628.2,678,762.3C8032.9-1475,7891.2-1406.1,7805-1442.5z"
      ></path>
    </g>
  </g>
</svg>
