---
---

<nav>
  <div id="profile">
    <div
      id="profile_img"
      style="background: url(https://avatars3.githubusercontent.com/u/38349706?v=4) center;"
    >
    </div>
    <div id="username">
      <span style="display:block;">Hermann KAO</span><a
        href="https://gitlab.com/itishermann"
        target="_blank"
        >@itishermann
      </a>
    </div>
    <div id="userbio" style="display: block;">A geek and a big dreamer</div>
    <div id="about">
      <span style="display:block;"
        ><i class="fas fa-envelope"></i> &nbsp;  <a
          href="/contact"
          style="color:#FFFFFF;font-size:18px;"
          >Let's get in touch
        </a>
      </span>
      <span style="display:block;"
        ><i class="fas fa-file"></i> &nbsp;  <a
          href="https://cvdesignr.com/p/itishermann?hl=fr_FR"
          style="color:#FFFFFF;font-size:18px;"
          >My resume (FR)
        </a>
      </span>
      <span style="display:block;"
        ><i class="fas fa-blog"></i> &nbsp; <a rel="dofollow" href="/blog"
          >Check my blog posts
        </a>
      </span>
      <span style="display:block;"
        ><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp; Saint-étienne, France
      </span>
      <span style="display:block;"
        ><i class="fas fa-globe-africa"></i> &nbsp;&nbsp; <a href="/now"
          >Available for remote work or in Saint-étienne
        </a>
      </span>
      <div class="socials">
        <span style="display:block;"
          ><a
            href="https://www.github.com/itishermann"
            target="_blank"
            class="socials"
            title="Github"
            ><i class="fab fa-github"></i>
          </a>
        </span>
        <span style="display:block;"
          ><a
            href="https://www.gitlab.com/itishermann/"
            target="_blank"
            class="socials"
            title="Gitlab"
            ><i class="fab fa-gitlab"></i>
          </a>
        </span>
        <span style="display:block;"
          ><a
            href="https://www.linkedin.com/in/itishermann/"
            target="_blank"
            class="socials"
            title="LinkedIn"
            ><i class="fab fa-linkedin-in"></i>
          </a>
        </span>
        <span style="display:block;"
          ><a
            href="/rss.xml"
            target="_blank"
            class="socials"
            title="Subscribe to my RSS feed"
            ><i class="fas fa-rss-square"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>
