---
---

<div>
  <button id="scroll-to-top" onclick="scrollToTop()"
    ><p><i class="fas fa-arrow-up"></i>&nbsp;Back to top</p>
  </button>
</div>
<style>
  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgb(31, 31, 31);
    color: var(--text-color);
    border: none;
    padding: 15px;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 5px #000;
    padding: 0 10px;
    transition-duration: 500ms;
    opacity: 0;
  }
</style>
<script is:inline>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }
  window.onscroll = function () {
    if (window.pageYOffset > 100) {
      document.getElementById("scroll-to-top").style.display = "block";
      document.getElementById("scroll-to-top").style.opacity = "1";
    } else {
      document.getElementById("scroll-to-top").style.display = "none";
      document.getElementById("scroll-to-top").style.opacity = "0";
    }
  };
</script>
