---
import Layout from "src/layouts/Layout.astro";
import Loader from "src/components/Loader.astro";
import Footer from "src/components/Footer.astro";
import dayjs from "dayjs";
import LocalizedFormat from "dayjs/plugin/localizedFormat";
import type { OGMetaItem } from "src/types/page";
import ScrollToTop from "src/components/ScrollToTop.astro";
import type { CollectionEntry } from 'astro:content';
dayjs.extend(LocalizedFormat);
interface Props {
  frontmatter: CollectionEntry<'blog'>['data']
}

const { frontmatter } = Astro.props;
const {
  title,
  subtitle,
  tags,
  cover = "/static/milky-way.jpg",
  date,
} = frontmatter;
const baseUrl = import.meta.env.MODE === "production" ? Astro.site : ""
const og: OGMetaItem[] = [];
og.push({
  property: "og:type",
  content: "article",
});
og.push({
  property: "og:title",
  content: title,
});
og.push({
  property: "og:description",
  content: subtitle,
});
og.push({
  property: "og:image",
  content: new URL(cover || "/static/milky-way.jpg", Astro.url).toString(),
});
og.push({
  property: "og:url",
  content: new URL(Astro.url).toString(),
});
og.push({
  property: "article:published_time",
  content: dayjs(date).toISOString(),
});
og.push({
  property: "article:author",
  content: "https://itishermann.me",
});
tags.map((tag) => {
  og.push({
    property: "article:tag",
    content: tag,
  });
});
og.push({
  property: "twitter:card",
  content: "summary",
});
og.push({
  property: "twitter:site",
  content: "@itishermann",
});
og.push({
  property: "twitter:creator",
  content: "@itishermann",
});
---

<Layout title={title} description={subtitle} og={og}>
  <Loader />
  <main>
    <a href={`${baseUrl}/blog`} class="go_back" title="Go to the blog list"
      ><i class="fas fa-arrow-left"></i>
    </a>
    <div id="background_overlay"></div>
    <div id="background" style={`background: url(${cover}) center;`}></div>
    <table id="profile_blog">
      <tbody>
        <tr>
          <td style="width:8vw;"><div id="profile_img_blog"></div></td>
          <td style="width:52vw;">
            <div id="username_blog">
              <span style="display:block;">Hermann Kao</span>@itishermann<br
              /><b id="blog_time">{dayjs(date).format("LLL")}</b>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="blog-display">
      <section id="blog_metadata">
        <h1 id="blog_title">
          {title}
        </h1>
        <h2 id="blog_sub_title">
          {subtitle}
        </h2>
        <p>
          <b>Tags:</b>{
            tags.map((t, index) => (
              <span>
                <a
                  style="color: inherit; text-decoration: none;"
                  href={`/blog/tag/${t.toLowerCase()}`}
                >
                  {t}
                </a>
                {index !== tags.length - 1 ? ", " : ""}
              </span>
            ))
          }
        </p>
      </section>
      <div id="blog" class="blog-content">
        <slot />
      </div>
      <a
        href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-show-count="false">Tweet</a
      ><script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <Footer />
  </main>
  <ScrollToTop />
</Layout>
