---
import type { DefaultPageProps } from "src/types/page";
import Globalstyle from "../styles/global.style.astro";

const {
	title = "Hermann Kao - FullStack Typescript Developer and Swift enthusiast - A geek and a big dreamer.",
	description = "A geek and a big dreamer, a forex trader, passionate about creating clean, unique, elegant and functional websites and mobile apps. Learn more on Hermann Kao !",
	og = [
		{
			content: "https://avatars3.githubusercontent.com/u/38349706?v=4",
			property: "og:image",
		},
		{
			content: "https://hermannkao.com",
			property: "og:url",
		},
		{
			content: "profile",
			property: "og:type",
		},
		{
			content: "male",
			property: "og:profile:gender",
		},
		{
			content: "Hermann",
			property: "og:profile:first_name",
		},
		{
			content: "Kao",
			property: "og:profile:last_name",
		},
		{
			content: "itishermann",
			property: "og:profile:username",
		},
		{
			content: "https://itishermann.me",
			property: "og:profile:website",
		},
	],
} = Astro.props as DefaultPageProps;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="alternate"
			hreflang="x-default"
			href="https://www.itishermann.me/"
		/>
		<link
				rel="alternate"
				type="application/rss+xml"
				title="Hermann Kao's Blog Feed"
				href="/rss.xml"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>{title.replaceAll('"', "")}</title>
		<meta name="description" content={description} />
		<meta name="robots" content="index, dofollow" />
		<meta name="author" content="Hermann Kao" />
		{og.map((item) => <meta property={item.property} content={item.content} />)}
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
			crossorigin="anonymous"
		/>
		<link
			rel="icon"
			href="https://avatars3.githubusercontent.com/u/38349706?v=4"
			type="image/png"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css"
		/>
		<script is:inline src="/static/macy.min.js"></script>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-MF028CX5BS"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-MF028CX5BS');
		</script>
		<Globalstyle />
	</head>
	<body>
		<slot />
	</body>
</html>
